    <footer class="text-center text-white mt-5 pt-5">
    <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: Social media -->
            <section class="mb-4">

                <!-- Github -->
                <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/Otavie/altschool-2023-photocard" target="_blank" role="button"><i class="fab fa-github"></i></a>

                <!-- Linkedin -->
                <a class="btn btn-outline-primary btn-floating m-1" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>

                <!-- Twitter -->
                <a class="btn btn-outline-info btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i></a>

            </section>
            <!-- Section: Social media -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3">
            <span class="text-secondary fw-bold">&copy;</span>
            <a class="text-decoration-none fst-italic text-secondary fw-bold" href="/">AltSchool 2023</a>
        </div>
    <!-- Copyright -->
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/js/bootstrap.bundle.min.js" integrity="sha512-ToL6UYWePxjhDQKNioSi4AyJ5KkRxY+F1+Fi7Jgh0Hp5Kk2/s8FD7zusJDdonfe5B00Qw+B8taXxF6CFLnqNCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>
</html>