* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow-y: scroll;
  overflow-y: visible;
}

nav {
  background-color: #0d55c2;
}

nav a {
  color: red;
}

.navbar-brand {
  font-weight: bold;
  font-size: 1.5rem;
}

.view-student-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.view-student-container > header {
  border: 1px solid var(--bs-primary);
  color: #0d55c2;
  text-shadow: 0px 1px 1px #000;
}

.view-student-container > header h3 {
  font-size: 1.75rem;
}

.container-image-card {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.card-container {
  display: flex;
  justify-content: center;
}

.image-card-container {
  width: 100%;
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.image-card {
  width: 250px;
  height: 250px;
  border: 3px solid;
  border-radius: 50%;
  transition: ease-in-out 500ms border-radius;
}

.image-card:hover {
  border-radius: 9.5px;
}

.image-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  transition: ease-in-out 500ms border-radius;
}

.image-card:hover img {
  border-radius: 7.5px;
}

.web-link a {
  text-decoration: none;
  font-size: 1.05rem;
}

.stack-text {
  font-size: 1.25rem;
  color: #383434;
}

.photocard {
  padding: 1rem 1rem;
  border: 1px solid var(--bs-primary);
}

.student-card-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-details-content {
  width: 90%;
  margin: 0 auto;
}

.profile-details-content p {
  line-height: 2;
}

.social-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.dashboard-social-container {
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.short-text {
  overflow: hidden;
  height: 4.5rem;
}

.dashboard-short-text p {
  line-height: 1.75rem;
  font-size: 1rem;
}

.about-image-container {
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

p.about-description {
  line-height: 1.75rem;
  font-size: 1rem;
}

.about-image-container img {
  width: 125px;
}

.edit-container {
  width: 90%;
  margin: 0 auto;
}

.not-found-countainer {
  min-height: calc(100vh - 18.25rem);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000;
  margin-bottom: -3rem;
}

.not-found-countainer h1 {
  color: #FFF;
}

.not-found-countainer h3 {
  color: #585858;
}

footer {
  background-color: #00082b;
}

@media only screen and (min-width: 700px) {
  p.about-description {
    line-height: 2rem;
    font-size: 1.125rem;
  }
  .about-image-container {
    height: 240px;
  }
  .about-image-container img {
    width: 200px;
  }
  .edit-container {
    width: 80%;
  }
  .dashboard-short-text p {
    line-height: 2rem;
    font-size: 1.125rem;
  }
  .dashboard-social-container {
    width: 80%;
  }
  .view-student-container > header h3 {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 800px) {
  .profile-details-content {
    width: 80%;
  }
  .container-image-card {
    width: 80%;
  }
}

@media only screen and (min-width: 1200px) {
  .image-card {
    width: 300px;
    height: 300px;
    border: 3px solid;
    border-radius: 50%;
    transition: ease-in-out 500ms border-radius;
  }
  .edit-container {
    width: 65%;
  }
}
